<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianxun.jwt.user.mapper.UserInfoMapper">
    <select id="findUserByUsernameAndPassword" resultType="UserInfo" parameterType="java.util.HashMap">
        SELECT * FROM user_info WHERE username = #{username} and password=#{password}
    </select>
    <select id="findUserById" resultType="UserInfo" parameterType="java.lang.Long">
        SELECT * FROM user_info WHERE uid = #{uid}
    </select>
    <select id="findRoleByUId" resultType="SysRole" parameterType="java.lang.Long">
        SELECT r.* FROM sys_user_role ur,sys_role r WHERE ur.uid=#{uid} AND ur.role_id=r.id
    </select>
    <select id="findPermissionByRoleId" resultType="SysPermission" parameterType="java.lang.Long">
        SELECT p.* FROM sys_role_permission rp,sys_permission p WHERE rp.role_id=#{roleId} AND rp.permission_id=p.id
    </select>
</mapper>